area:hover{
cursor: pointer;
}

#popup{
display: none;
position: fixed;
bottom: 0;
background: white;
border: 2px solid black;
padding: 5px;
}

#lesronds{
display: flex;
flex-direction: row;
}

.rond{
width : 25px;
height : 25px;
margin: 2px;
/* border-radius: 99px; */
background-size: 100%;
background-repeat: no-repeat;
background-position: center center;
}

.knowledge{
background-image: url("../../images/knowledge.png");
}

.hermetic_capacity{
background-image: url("../../images/hermetic_capacity.png");
}

.skill{
background-image: url("../../images/skill.png");
}

.knowledge.acquis{
background-image: url("../../images/knowledge acquis.png");
}

.hermetic_capacity.acquis{
background-image: url("../../images/hermetic_capacity acquis.png");
}

.skill.acquis{
background-image: url("../../images/skill acquis.png");
}

.acquis{
    /* border: 1px solid black; */
    /* background-color: #aaaaaa; */
    /* margin: 1px; */
}

h1{
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

#spheringSkillsImg{
    /* max-width: 100%; */
}

#controlButton{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#zoom, #zoomOut{
    font-size: 2em;
    font-weight: bold;
    background-color: grey;
    color: white;
    border-radius: 999px;
    padding: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}