/*
    title : HomePage.css
    author : Celia.H
    started on :
    brief : design page homePage.css
*/
div {
    padding: 20%;
}

div li {
    list-style: none;
}

button{
    border: none;
    background: transparent;
    outline: none;
    color: blue;
}