/*
    title : login.css
    author : Celia.H
    started on :
    brief : design page login.css
*/

form {
    display: grid;
    border: none;
    background: transparent;
    padding: 10%;
    outline: none;
    grid-auto-flow: column;
    grid-column-gap: 10px;

}


