/*
    title : lostPwd.css
    author : Celia.H
    started on :
    brief : design page lostPwd.css
*/

form {
    display: block;
    flex-direction: column;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    background: transparent;
}